// colors
$primaryColor:#9ED1BE;
$primaryColorLight:#77BFA3;
$primaryColorDark:#59B192;

$secondaryColor:#C172A5;
$secondaryColorLight:#dfa9cb;
$secondaryColorDark:#a84b88;

$thrinaryColor:#EDEEC9;
$thrinaryColorLight:#F0F1E4;
$thrinaryColorDark:#DDE7C7;

// font sizes
$fontSizeRegular:400;
$fontSizeLight:300;
$fontSizeBold:500;